[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyusb = "*"
pyvisa = "*"
pyvisa-py = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
